
.popover {
    max-width: 450px;
    width: 450px;
}

.popover-header{
  background-color: #00BCD4;
}

.popover-body{
  padding: 0;
    height: 500px;
    overflow-y: auto;
}

.list-group-item:hover{
    background-color: aliceblue;
    cursor: pointer;
}

hr{
  margin: 0;
}

.bs-popover-bottom>.popover-arrow::before, .bs-popover-bottom>.popover-arrow::after{
  border-bottom-color: #00BCD4;
}

.iwse-chatroom-wrapper{
    .user-info {
        display: flex;
        align-items: center;
      }
      
      .user-info img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      
      .user-info .user-name {
        margin-left: 10px;
      }
      
      .chat-title {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #333;
      }
}

.iwse-chat-header{
  background-color: #ededed;
}